<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.thymeleaf.org"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>ZomoVhpoto</title>
    <link href="/Wopop_files/style_log.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/Wopop_files/style.css"/>
    <link rel="stylesheet" type="text/css" href="/Wopop_files/userpanel.css"/>
    <link rel="stylesheet" type="text/css" href="/Wopop_files/jquery.ui.all.css"/>

</head>

<body class="login" mycollectionplug="bind" style="align-self: center">
<div class="login_m">
    <div class="login_logo" style=" text-align: center"><img src="/Wopop_files/zomo.png" width="350" height="143"/></div>
    <div class="login_boder">
        <form id="loginForm" th:action="@{/login.do}" th:method="POST">
        <div class="login_padding" id="login_model">

            <h2>USERNAME</h2>
            <label>
                <input type="text" name="username" id="username" class="txt_input txt_input2"
                       onfocus="if (value ==&#39;Your name&#39;){value =&#39;&#39;}"
                       onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" value=""/>
            </label>
            <h2>PASSWORD</h2>
            <label>
                <input type="password" name="password" id="userpwd" class="txt_input"
                       onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}"
                       onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value=""/>
            </label>


            <p class="forgot" ><span th:text="${msg}"  style="color: red"></span></p>
            <div class="rem_sub">
                <div class="rem_sub_l">
                    <!--<label ><a>register</a></label>-->
                </div>
                <label>
                    <input type="submit" class="sub_button" name="button" id="button" value="SIGN-IN"
                           style="opacity: 0.7;"/>
                </label>
            </div>
        </div>
        </form>

        <!--login_padding  Sign up end-->
    </div><!--login_boder end-->
</div><!--login_m end-->
<br/> <br/>
<p align="center"></p>


</body>
<script type="text/javascript">
    window.onload=function(){
        al();
    };
    function al() {
        var a=httpSession.getAttribute("user").getName();
        alert(a)
    }
</script>
</html>